name: Deploy Web PRO

on:
  push:
    branches:
      - main  # El despliegue solo se activa cuando hay un push en la rama `main`
    paths:
      - 'public/**'  # Solo se activa cuando hay cambios en public/

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2  # Para poder comparar cambios

      - name: Check if public/ changed
        id: check-public
        run: |
          if git diff --name-only HEAD^ HEAD | grep -q '^public/'; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Deploy public/ via FTP
        if: steps.check-public.outputs.changed == 'true'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: ./public/
          server-dir: /public_html/
          dangerous-clean-slate: false